{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Api externa</title>
</head>
<body>

    
    
    <script>
    $.ajax({
        url:'http://localhost:8000/api/personas/',
        type: 'GET',
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Content-Type", "application/json")
        },
        success: function(data){
            if(data.errorMessage != null) {

                alert("Ha ocurrido un error");
            }
            console.log(data);
            for(var i=0; i<data.length; i++) {
                $('#tabla_persona').append('<tr>'+
                '<th scope="row">'+ (i+1) +'</th>'+
                '<td>'+data[i].run+'</td>'+
                '<td>'+data[i].correo+'</td>'+
                '<td>'+data[i].nombreC+'</td>'+
                '<td>'+data[i].fecha+'</td>'+
                '<td>'+data[i].contrasenia+'</td>'+
                '<td>'+data[i].telefono+'</td>'+
                '<td>'+data[i].comuna+'</td>'+
                '<td>'+data[i].region+'</td>'+
                '<td>'+data[i].vivienda+'</td>'+
                '</tr>');    
            console.log(data[i].run);
            }

        },
        failed: function(data) {
            console.log(data);
            alert("Ha ocurrido un error");
            window.location.href='/';
        }
    });
    </script>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Rut</th>
            <th scope="col">Correo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Telefono</th>
            <th scope="col">Comuna</th>
            <th scope="col">Region</th>
            <th scope="col">Vivienda</th>
          </tr>
        </thead>
        <tbody id="tabla_persona">
      
        </tbody>
    </table>


                
</body>
</html>