{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="manifest" href="/manifest.json">
    <title>Mis Perris</title>
</head>
<body>
  <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">
      <img src="{% static "img/logo.png" %}" width="178" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quienes somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
              {% if user.is_authenticated %}
              <li class="nav-item">
                    <a class="nav-link" href="/listado/">Listado Perros</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="/registro_perro/">Registrar Perro</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cerrarsesion">Cerrar Sesion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registro_persona/">Registrarse</a>
                </li>
                {% endif %}
        </ul>
    </div>
  </nav>


  : <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <form action="/registro/crear_perro/" method="POST">
        {% csrf_token %}
        <div class="column">
        <div class="form-group">
            <label for="foto">Fotografia</label>
            <input type="file" class="from-control-file" name="foto" id="foto" placeholder="Ingrese imagen del perro" required>
        </div>
      <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control tamaño_formulario"  placeholder="Ingrese nombre" name="nombre" required>
      </div>
      <div class="form-group">
          <label for="Raza">Raza</label>
          <input type="text" class="form-control tamaño_formulario"  placeholder="Ingrese raza" name="raza" required>
        </div>
        <div class="form-group">
            <label for="Descripcion">Descripcion</label>
            <input type="text" class="form-control tamaño_formulario"  placeholder="Ingrese descripcion" name="descripcion" required>
          </div>
            <div class="form-group">
                <label for="estado">Estado</label>
                <select class="form-control tamaño_formulario" id="estado" name="estado" required>
                    <option>Rescatado</option>
                    <option>Disponible</option>
                    <option>Adopatado</option>
                </select>
            </div> 
            <button type="submit" class="btn">Registrar</button>                    
          </div>
        </form>
        </div>  
    </div>
</div>
                <!-- JS Extras -->
                <script src="{% static "js/jquery-3.3.1.js" %}"></script>
                <script src="{% static "js/popper.js" %}"></script>
                <script src="{% static "js/jquery.validate.js" %}"></script>
                <script src="{% static "js/app.js" %}"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                <script src="{% static "js/forms.js" %}"></script>
    <body>
    <html>