{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
<head>
        <meta charset="UTF-8">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="manifest" href="/manifest.json">
        <title>Mis Perris</title>
</head>
<body>
<!-- Header -->

<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
  <a href="/" class="navbar-brand d-flex w-50 mr-auto">
    <img src="{% static "img/logo.png" %}" width="178" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="/listado/">Listado Perros</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/registro_perro/">Registrar Perro</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/cerrarsesion">Cerrar Sesion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login/">Ingresar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro_persona/">Registrarse</a>
            </li>
            {% endif %}
      </ul>
  </div>
</nav>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static "img/adoptados/Apolo.jpg" %}" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Apolo</h5>
                      <p>Apolo es un perro adpotado hace 2 meses</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static "img/adoptados/Duque.jpg" %}" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Duque</h5>
                      <p>Duque el perro aventurero que fue adpotado hace 1 año</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static "img/adoptados/Tom.jpg" %}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Tom</h5>
                      <p>El pequeño Tom fue adpotado hace 1 semana</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>


            </div>
            <div class="row color_fondo text-center">
                <div class="col-md-12">
                    <img src="{% static "img/redes_sociales/facebook.png" %}" alt="Error" class="tamano_img_red_soc">
                    <img src="{% static "img/redes_sociales/googlePlus.png" %}" alt="Error" class="tamano_img_red_soc">
                    <img src="{% static "img/redes_sociales/instagram.png" %}" alt="Error" class="tamano_img_red_soc">
                    <img src="{% static "img/redes_sociales/twitter.png" %}" alt="Error" class="tamano_img_red_soc">
                </div>
            </div> 
            
            <div class="margen_iz">
                    <h1 class="derecha">Rescate</h1>
                    <h5 class="derecha gris">Etapa Uno</h5>
                    <p class="derecha">Rescatamos perros en situación y/o abandono. Los rehabilitados y los preparamos para buscarles un hogar</p>
                    <img src="{% static "img/rescate.jpg" %}" alt="" id="img_derecha">
                </div>
                <br>
                <div class="margen">
                    <img src="{% static "img/crowfunding.jpg" %}" alt="">
                    <h1>CROWFUNDING</h1>
                    <h5 class="gris">FINANCIAMIENTO</h5>
                    <P>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos
                    para obtener financiamiento para segir ayudando</P>
                </div>
                <br>
                <br>
                <button class="btn btn-outline-dark margen">
                  Campaña
                </button>
                <h2 class="margen">Rescatados</h2>
                <div class="container-fluid" id="">
                  <div class="row  color_fondo">
                    <div class="collage-row justify-content-center">
                        <div class="collage-column">
                            <img src="{% static "img/rescatados/Bigotes.jpg" %}" alt="" >
                            <img src="{% static "img/rescatados/Chocolate.jpg" %}"  alt="" >
                            <img src="{% static "img/rescatados/Luna.jpg" %}"  alt="" >
                        </div>
                        <div class="collage-column">
                            <img src="{% static "img/rescatados/Maya.jpg" %}"  alt="" >
                            <img src="{% static "img/rescatados/Oso.jpg" %}" alt="" >
                        </div>
                        <div class="collage-column">
                            <img src="{% static "img/rescatados/Pexel.jpg" %}"  alt="" >
                            <img src="{% static "img/rescatados/Wifi.jpg" %}" alt="" >
                        </div>
                      </div>
                    </div>
                    </div>
                    
                    <footer >
                      <H6>Desarrollo de aplicaciones web y mobile</H6>
                    </footer>
                <!-- JS Extras -->
                <script src="{% static "js/jquery-3.3.1.js" %}"></script>
                <script src="{% static "js/popper.js" %}"></script>
                <script src="{% static "js/jquery.validate.js" %}"></script>
                <script src="{% static "js/app.js" %}"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

