{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Mis Perris</title>
</head>
<body>
    
    <div class="row ">
        <div class="col-md-4 ">
        </div>
            <div class="col-md-4 ">
                    <H1>Inicio de Sesion</H1>    
    <form method="POST" class="form-signin" action="{% url "iniciar" %}">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <label for="inputRut" >Run</label>
                <input type="text" id="inputRut" name="rut" class="form-control tamaño_formulario" placeholder=" Ingrese Run" required autofocus> 
            </div>
          </div>
          <br>
        <div class="form-row">
            <div class="col">
                <label for="inputPassword" >Contraseña</label>
                <input type="password" name="contrasenia" id="inputPassword" class="form-control tamaño_formulario" placeholder="Ingrese Contraseña" required>
            </div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" style="width:100%;margin-bottom: 10px" type="submit">Iniciar Sesión</button>
        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-lg btn-primary btn-block" style="background-color: #3B5998"><i class="fab fa-facebook-f"></i> Conectar con facebook </a>
        <a href="/password/recovery/">¿Olvidaste tu contraseña?</a>   
    </div>
</div>
    </br>
  
    </form>
</body>
</html>