.color_fondo{
  background-color: #85d4b7;
}
.baner_inferior{
  background-color: #e6e6e6;
}
.color_btn{
  background-color: #6dccaa;
}
.gris{
  color: gray;
}
.borde_btn{
  border-color: #6dccaa;
}
.container-fluid{
  padding-right: 2rem;
  padding-left: 2rem;
}
.margen_p{
  margin-left: 50px;
  color: #b0b0af;
}
a{
  color: #ffffff;
}
h1_derecha{
  text-align: left;
}
.tamano_img_red_soc{
  width: 55px;
  height: 55px;
}
#img_derecha{
  float: right;
  margin-right: 20px;
}
.centrar_texto{
  text-align:center;
}
.altura-minima{
  max-height: 400px;
  min-height: 300px;
}
.center-crop{
  max-height: 500px;
  min-height: 200px;
  object-fit: cover;
  object-position: center;
}
.derecha{
  text-align: right;
}
.margen{
  margin-left: 20px;
}
.margen_inferior{
  margin-top: 20px;
}
.margen_iz{
  margin-right: 20px;
}
.container{
  position: relative;
  top: 20px;
  width: 90%;
  height: auto;
  margin: auto;
  background: #85d4b7;
}
.container .listado{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .listado li{
  margin-right: 10px;
  margin-top: 10px;
  list-style: none;
}
.container .listado li img{
  position: relative;
  width: 200px;
  height: 150px;
}
.column{
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {

  margin-top: 8px;
  margin-left: 8px;
  vertical-align: middle;
}
#colage{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

nav.navbar {
  width: 100%;
  z-index: 999;
}

@media (min-width: 768px) {
  .navbar-brand.abs {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;   
      } 
}
@media (min-width: 481px) and (max-width: 767px) {
  .border-col {
      border-bottom: solid 1px rgba(0, 0, 0, 0.15)
  }
}


@media (min-width: 1281px) {
  .carousel-inner > .carousel-item > img {
      width:100%;
      height:90vh;
  }
  .border-col {
      border-right: solid 2px rgba(0, 0, 0, 0.15)
  }
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .carousel-inner > .carousel-item > img {
      width:100%;
      height:90vh;
  }
  .border-col {
      border-right: solid 2px rgba(0, 0, 0, 0.15)
  }
}
@media only screen and (max-width: 768px) {
  label {
    width: 300px;
  }
  .form-control.tamaño_formulario {
    width: 300px;
  }
}


nav.navbar.navbar-light.navbar-expand-md.bg-faded.justify-content-center {
  background-color: #85d4b7 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,0.6) !important;
}
.collage-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  overflow: hidden;
}
.collage-column{
  flex: 25%;
  max-width: 20%;
  padding: 0 4px;
  margin-bottom: 15px;
}
.collage-column img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
